@font-face {
    font-family:'Inconsolata';
    src:URL('Inconsolata.otf');
  }
  
html
{
    text-align:center;
    font-family:'Inconsolata';
    background-color:#322947;
    color:white;
    margin:0.5em;
}
button
{
    border:0;
    background-color:#ff6b97;
    border-radius:1em;
    font-size:150%;
    text-align:center;
    margin:0.25em;
}
button:hover
{
    background-color:#ffb5b5;
}
button:disabled
{
    background-color:#4b5bab;
    color:black;
}
button:enabled
{
    cursor:pointer;
}
h1
{
    color:#ff6b97;
}
h3, h4
{
    color:#ffe478;
    font-size:150%;
}
h1, h2, h3, h4
{
    margin:0.25em;
}
hr
{
    border-color:#ff6b97;
}
.scary
{
    color:#4da6ff;
}
.generator_box
{
    border: 0.1em solid;
    width:20%;
    display:inline-block;
    padding:1em;
    border-radius:1em;
}
.tab
{
    background-color: #322947;
    color: #ffe478;
    border: 0.1em #4da6ff solid;
    margin: 0.25em;
    border-radius:0.25em;
}
.tab:hover
{
    background-color:#473b78;
}
.tab:disabled
{
    background-color:#322947;
    color:#7e7e8f;
    border-color:#7e7e8f;
}
.tab.active
{
    border-color:#ffe478;
}
.tabcontent
{
    display:none;
}
#title
{
    position:absolute;
    text-align:left;
}
#alpha_box
{
    border-color: #4da6ff;
}
#beta_box
{
    border-color: #ff6b97;
}
#gamma_box
{
    border-color:#ffe478;
}
#blurb
{
    position: fixed;
    left: 0;
    bottom: 0.5em;
    width: 100%;
}